*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.massagelist{
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto; 
  justify-items: center; 
  align-items: center;
  gap: 1rem;
}